*{
    padding: 0;
    margin: 0;
}

.container{
    background-color: rgb(204, 226, 244);
    padding: 10px;
}

h3{
    background-color: rgb(87, 25, 145);
    color: white;
    text-align: center;
    padding: 20px;
}
